.fl{
    float: left;
}
.w33 {
    width: 33%;
}
.b1{
    border-bottom: 1px solid #939598;
}
table {
    text-align: center;
}
.br1 {
    border-right: 1px solid #939598;
}
.of {
    overflow: hidden;
}